body{
	margin:0px;
	top:0px;
}

.header {
	vertical-align: left;
   	z-index: 2;
    	position: absolute;
    	left: 2%;
    	height: 100%
    	width: 100%;   
    	padding: 0px;
    	margin: 0;
    	font-size:30px;    
    	font-family: 'Homemade Apple', cursive;  
}

.bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.br {
  content: " ";
  display: block;
  margin: 300px;
}

.gal{
	width: 100%;
	font-family:  'Homemade Apple', cursive;
	font-size:48px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	font-variant: small-caps;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    background-color: rgba(255, 255, 255, .4);
    position: absolute;
    width: 100%;
}

li {
    float: right;
}

li a {    
    display: block;
    color: solid black;
    text-align: center;
    padding: 25px 30px 25px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-variant: small-caps;
    font-color:solid black;
    }
    
li a:hover {
    background-color: rgba(0,0,0,.1);
}

li a:link{
	color: black;
}

li a:visited {
    	color: black;
}
li a:active {
    	color: black;
}

.sticky{
 	position: fixed;
 	width: 100%;
 	left: 0;
 	top: 0;
 	z-index: 100;
 	border-top: 0;
}

.interest{
	bottom:5%;
	position: relative;
	width: 100%;
	text-align:center;
	display:inline-block;
	font-size: 500%;
	font-family: 'Playfair Display', serif;
}
